<h1>Thank you so much for visiting.</h1>
<h4>I am a self-taught web developer.  I am an extremely hard worker, very dedicated, and very trustworthy.</h4>
<h4>I began teaching myself web design after being laid off from my previous job in the building industry.</h4>
<h4>After months of struggling to get back into the field of structural engineering, I knew I needed to make myself
    more marketable and focus on doing something that I would love.</h4>
<h4>With no prior experience or knowledge, I began learning the skills that it takes to build web sites.</h4>
<h4>I am very excited about my new career path and joining an organization that has the same passion and
    enthusiasm I have.</h4>
<h4>Please feel free to <%= link_to "Contact Me", 'messages/new' %> anytime with any questions.</h4>
<h4>Thanks again and have a great day!</h4>
