<h1>2013 to Present | Freelance Web Developer and Web Designer</h1>

<h4>
  &nbsp Teaching myself and pursuing a new career in web design and development has been challenging, exciting,
  and has reinvigorated me.  It has also given me great satisfaction knowing where I began, which was
  absolutely knowing nothing about web design and development, knowing where I am, and knowing where I want to go.
  Below I have listed some of the coursework I have completed while pursuing my goals.
</h4>

<div id="course_wrapper">
<div class="left">
<h4>HTML Courses</h4>
<h5>HTML Essential Training</h5>
<h5>Up and Running With HTML</h5>
<h5>HTML5 - Structure, Syntax, and Semantics </h5>
<h5>HTML5 Features, 7 Short Courses</h5>
</div>

<div class="left">
<h4>CSS Courses</h4>
<h5>CSS For Developers</h5>
<h5>CSS Fundamentals</h5>
<h5>CSS Positioning Best Practices</h5>
<h5>CSS Core Concepts</h5>
<h5>CSS Styling Navigation</h5>
</div>

<div class="left">
<h4>Javascript Courses</h4>
<h5>Javascript Essential Training</h5>
<h5>Javascript Events</h5>
<h5>Javascript and AJAX</h5>
<h5>jQuery Essential Training</h5>
</div>

<div class="left">
  <h4>Ruby on Rails Courses</h4>
  <h5>Ruby on Rails Tutorial</h5>
  <h5>Ruby on Rails 3 Essential Training</h5>
  <h5>Ruby on Rails 3 Beyond The Basics</h5>
  <h5>Introduction to Ruby on Rails</h5>
  <h5>Ruby Essential Training</h5>
</div>

<div class="left">
  <h4>Programming/Web Graphic/Design Courses</h4>
  <h5>PHP With MySQL Essential Training</h5>
  <h5>Foundations of Programming Fundamentals</h5>
  <h5>Foundations of Programming Object Oriented Design</h5>
  <h5>Photoshop for Web Design</h5>
  <h5>Web Design Fundamentals</h5>
  <h5>Web Semantics</h5>
  <h5>Responsive Design Fundamentals</h5>
</div>

<div class="left">
  <h4>Software Experience</h4>
  <h5>Notepad++</h5>
  <h5>Sublime Text 3</h5>
  <h5>Ruby Mine</h5>
  <h5>PHP Storm</h5>
  <h5>Adobe Creative Suite 6</h5>
    <ul>
      <li>Photoshop</li>
      <li>Dreamweaver</li>
      <li>Adobe Illustrator</li>
      <li>Adobe Fireworks</li>
    </ul>
</div>
</div>

<div id="clear">
<h2>...and many many more!</h2>
</div>