<h1>Welcome to my site.  I am a freelance web professional based out of Scottsdale, AZ.</h1>
<p>Thank you for visiting.  I will continue to update this site, so keep checking back.</p>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), '#' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), '#', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>

