<h1>Thank You For Visiting</h1>
<p>This is my new website.  It is not completed, but should be in the next few days.</p>

<div id="sliderFrame">
  <div id="slider">
    <%= link_to image_tag("mtng.jpg", alt: "The MTN Group Website Design"), 'http://themtngroup.com/', target: '_blank' %>

    <%= link_to image_tag("mybbl.jpg", alt: "My Baseball Lesson Website Design"), '#' %>

    <%= link_to image_tag("ppp.jpg", alt: "Power Pitching Program Website Design"), '#', target: '_blank' %>

    <%= link_to image_tag("web.jpg", alt: "See The Portfolio Page For More Information"), portfolio_path %>
  </div>
</div>
