<h1>Testimonials</h1>
<dl>
  <dt>"Bob is a hard worker with the ability to follow directions.  He is always willing to do what it takes
        to help the customer.  He always brings a positive attitude and never seems to be having a bad day.
        Bob is an asset and I highly recommend him."</dt>
  <dd>- Charles A.</dd>

  <dt>"Bob is very personable and has a great sense of humour.  He is able to build relationships with customers
    and knows how to bring a business attitude to all interactions.  He works hard, is consistent, reliable, and
    is a great family man.  Bob is able to help his customers find solutions to their problems, and is always able
    to do so in a very timely manner.  I hope you will consider hiring Bob, he is a great asset."</dt>
  <dd>- Larry M.</dd>

  <dt>"I have enjoyed working with Bob.  He is able to help his clients fix any issues they may have.  He always
    brings a positive attitude and is quick to ask appropriate questions when the situation warrants it."</dt>
  <dd>- Rick W.</dd>

  <dt>"Bob is very responsible, reliable, and willing to take on new challenges.  He was very easy to work with.
    I highly recommend him."</dt>
  <dd>- Scott W.</dd>
</dl>